<div class="container">
    <h4>Item Detail</h4>
    <div>
        <h5>Name : <%= items.name %> </h5>
        <h5>Price : <%= items.price %> </h5>
    </div>
    <a class="delete btn" href="/item/<%= items._id %>/delete">Delete</a>
</div>